{% extends 'base.html.twig' %}

{% block title %}Service de recettes{% endblock %}

{% block body %}
<div class="container">
<div class="jumbotron">
  <h1 class="display-4">Bienvenue sur votre application de recette</h1>
  <p class="lead">Bienvenue dans notre application de recettes, votre compagnon culinaire ultime ! Que vous soyez un chef passionné, un novice en cuisine ou simplement à la recherche d'inspiration, nous sommes ravis de vous accueillir dans notre communauté gastronomique.
<br>
<br>
Préparez-vous à explorer un monde de saveurs délicieuses et d'idées créatives. Notre application regorge de milliers de recettes alléchantes, soigneusement sélectionnées pour satisfaire tous les palais et toutes les occasions. Que vous souhaitiez cuisiner un repas rapide pour la famille, impressionner vos invités lors d'un dîner spécial ou vous adonner à des expériences culinaires audacieuses, nous avons ce qu'il vous faut.</p>
  <hr class="my-4">
  <p>Inscrivez-vous pour commencer !</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
</div>
</div>
{% endblock %}
